body {
  background-color: black;
  scrollbar-width: thin;
  scrollbar-color: #52e8e2 #000000;
  /* overflow: hidden; */
}

.border-only-text {
  -webkit-text-stroke: 0.03em #efe731;
  text-stroke: 1px #efe731;
  color: transparent;
}

.border-only-text2 {
  -webkit-text-stroke: 0.03em #52E8E2;
  text-stroke: 1px #52E8E2;
  color: transparent;
}

@keyframes fadeInAndRise {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearslow {
  0% {
    opacity: 0.4;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeslow {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes appearslowbottom {
  0% {
    opacity: 0.4;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeslowbottom {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes appearslowleft {
  0% {
    opacity: 0.4;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeslowleft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

@keyframes appearslowright {
  0% {
    opacity: 0.4;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeslowright {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}